.top-image {
    background-image: url(../img/cafe_terrace.jpg);
    background-size: cover;
    background-position: center center;
    height: 600px;
    box-shadow: 0px 5px 6px 0px #e2e2e2;
    border-radius: 0;
 }

 @media screen and (max-width: 680px) {
     .top-image {
        height: 200px;
     }

}

 .main-txt {
    top: 0;
    bottom: 0;
    left: 0;;
    background: #99c6d82e;
    padding: 10px 5% 1px 5%;
}

/* @media screen and (max-width: 991.98px) {
    .main-txt {
        padding: 10px 5% 1px 5%;
        left: 0;
    }   
} */

h1.head-text {
    font-size: 4em;
    margin-bottom: 20px;
    padding-left: 5%;
    bottom: 0;
    color: #fff;
    text-shadow: 0px 0px 5px #00000044, 0px 0px 5px #00000044, 0px 0px 5px #00000044, 0px 0px 5px #00000044;
    z-index: 1;
}

@media screen and (max-width: 680px) {
    h1.head-text {
        font-size: 1.5rem;
        margin-bottom: 20px;
        padding-left: 5%;
        bottom: 0;
        color: #fff;
        text-shadow: 0px 0px 5px #00000044, 0px 0px 5px #00000044, 0px 0px 5px #00000044, 0px 0px 5px #00000044;
        z-index: 1;
    }

    h1 > span {
        font-size: 1rem;
    }
}


.lead {
    list-style: none;
    padding: 0 10px;
}

.lead > li {
    margin-bottom: 25px;
    
}

.lead li > span {
    background: linear-gradient(transparent 50%, #ffa500 50%);
}

@media screen and (max-width: 767.98px){
    .lead {
        font-size: 1.5rem;
    }
}

.arrows {
    position: absolute;
    bottom: 0px;
    left: 50%;
    color: #fff;
}

.text-black {
    color: #000;
}

.lead {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.balloon {
    position: relative;
}
.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #99c6d82e;
}

.balloon h1,
.balloon ul {
  margin: 0;
  padding: 0;
}

.points {
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    /* background: #99c6d82e; */
    background: #fff;
    /* border: #99c6d8 10px solid; */
    padding: 20px 0;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    font-weight: bold;
    margin: 10px;
}

.mtb2 {
    margin: 2rem 0;;
}

.border-stripe {
    position: relative;
}

.border-stripe::after {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background: repeating-linear-gradient(45deg, #99c6d8, #99c6d8 3px, white 3px, white 6px);
    content: '';
    z-index: -1;
}