/* import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&display=swap");
/* import */

.ja {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
}

.en {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

body {
  width: 100vw;
  letter-spacing: 0.4px;
}

a {
  cursor: pointer;
  display: inline-block;
}

.header-container {
  max-width: 1200px;
  height: 62px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}

.right-container {
  max-width: calc((100vw + 1100px) / 2);
  padding-left: 10px;
  margin: 0 0 0 auto;
}

section {
  padding-top: 120px;
}

.section-title {
  margin-bottom: 75px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 44px;
  color: #333;
}

.golden-text {
  color: #8b7706;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 767.8px) {
  .header-container {
    padding: 0 20px;
  }

  .container {
    max-width: 354px;
  }

  .right-container {
    max-width: calc((100vw + 354px) / 2);
  }

  section {
    padding-top: 100px;
  }
}

/* header */
#header {
  width: 100%;
  height: 92px;
  position: fixed;
  z-index: 100;
  color: #fff;
  padding-top: 30px;
  transition: .5s;
}

#header.white-bg {
  background-color: #FFF;
  height: 122px;
  padding-bottom: 30px;
}

#header.white-bg .header-logo path {
  fill: #111;
  stroke: #111;
}

#header.white-bg .header-left span {
  color: #333;
  font-weight: 300;
}

#header.white-bg .header-upper-right a {
  color: #666;
  font-weight: 300;
  background: linear-gradient(#666, #666) right bottom / 0 2px no-repeat;
}

#header.white-bg .header-upper-right a:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}

#header.white-bg .header-upper-right span {
  display: inline !important;
  color: #666;
}

#header.white-bg .header-lower-right a {
  color: #333;
  font-weight: 300;
  background: linear-gradient(#333, #333) right bottom / 0 2px no-repeat;
}

#header.white-bg .header-lower-right a:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}

#header.white-bg .speech-bubble a{
  background: none;
}

#header.hide {
  transform: translateY(-122px);
}

.header-left span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-left: 26px;
  vertical-align: middle;
}

.nav-menu {
  height: 62px;
}

.nav-menu ul {
  list-style: none;
  padding-left: 0;
  font-weight: 600;
}

.nav-menu ul > li:not(:first-child) {
  margin-left: 20px;
}

.header-upper-right {
  font-size: 12px;
  margin-bottom: 18px;
}

.header-lower-right {
  font-size: 16px;
  margin-bottom: 0;
}

.header-right a {
  color: #FFF;
  text-decoration: none;
  padding: 4px;
  background: linear-gradient(#FFF, #FFF) right bottom / 0 2px no-repeat;
  transition: background-size 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-right a:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}

.header-disabled {
  cursor: pointer;
}

.speech-bubble {
  display: none;
  opacity: 0;
  position: absolute;
  top: 112px;
  right: 0;
  padding: 32px;
  background-color: #FFF;
  border-radius: 20px;
}

.speech-bubble .radius {
  width: 280px;
  height: auto;
  border-radius: 10px;
  margin-right: 16px;
  background-color: #F5F5F8;
}

.speech-bubble a {
  display: inline-block;
}

.speech-bubble a span {
  color: #666;
  padding: 4px;
  background: linear-gradient(#666, #666) left bottom / 100% 2px no-repeat;
  transition: background-size 0.6s;
  text-decoration: none;
}

.speech-bubble a:hover span {
  background-position: right bottom;
  background-size: 0 2px;
}

.triangle-1::before {
  content: "";
  position: absolute;
  display: none;
  opacity: 0;
  top: -20px;
  right: 200px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #FFF;
  border-left: 25px solid transparent;
}

.triangle-2::before {
  content: "";
  position: absolute;
  display: none;
  opacity: 0;
  top: -20px;
  right: 40px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #FFF;
  border-left: 25px solid transparent;
}

.speech-bubble.hovered::before {
  display: block;
  opacity: 1;
  animation-duration: .6s;
  animation-timing-function: ease;
  animation-name: fade-in;
}

.speech-bubble.hovered {
  display: block;
  opacity: 1;
  animation-duration: .6s;
  animation-timing-function: ease;
  animation-name: fade-in;
}

.nav-footer {
  display: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .header-left span {
    margin-left: 8px;
  }

  .nav-menu ul > li:not(:first-child) {
    margin-left: 6px;
  }
}

@media screen and (max-width: 767.8px) {
  #header {
    padding-top: 20px;
  }
  
  #header.white-bg {
    padding: 20px 0 10px;
    height: 94px;
  }

  #header.white-bg .nav-menu a {
    color: #FFF;
  }

  .header-left span {
    margin-left: 16px;
  }

  .nav-menu {
    display: none;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #000;
    overflow-y: scroll;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .nav-menu .link-icon g {
    fill: #000;
    stroke: #FFF;
  }

  .nav-menu .arrow path {
    stroke: #FFF;
  }

  .nav-toggle {
    display: inline-block;
    margin-top: 6px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFF;
    z-index: 10;
  }

  .nav-toggle span {
    position: absolute;
    left: 13px;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
  }

  .nav-toggle span:nth-of-type(1) {
    top: 18px;
    width: 24px;
  }

  .nav-toggle span:nth-of-type(2) {
    top: 25px;
    width: 24px;
  }

  .nav-toggle span:nth-of-type(3) {
    top: 32px;
    width: 20px;
  }

  .nav-toggle.cross span:nth-of-type(1) {
    transform: translate(0, 7px) rotate(45deg);      
    transition: transform .3s;   
  }

  .nav-toggle.cross span:nth-of-type(2) {
    opacity: 0;
    transition: opacity .3s;
  }

  .nav-toggle.cross span:nth-of-type(3) {
    width: 24px;
    transform: translate(0,-7px) rotate(-45deg);      
    transition: transform .3s;    
  }

  .header-upper-right {
    order: 2;
    width: 320px;
    margin: 0 auto;
  }

  .header-lower-right {
    order: 1;
    width: 320px;
    margin: 0 auto 15px;
  }

  .nav-menu ul > p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  
  .nav-menu ul > li {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .header-right a {
    font-size: 16px;
    padding: 0;
    background: none;
    transition: none;
  }

  .speech-bubble.hovered {
    animation: none;
  }

  .header-disabled::before {
    content: none;
  }

  .header-disabled.hovered::before {
    display: none;
    opacity: 1;
  }

  .speech-bubble {
    display: block;
    position: static;
    opacity: 1;
    background: none;
    padding: 0;
  }

  .speech-bubble .radius {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .speech-bubble > div > div {
    width: 48%;
  }

  .speech-bubble a span {
    display: block;
    color: #FFF;
    border: 2px;
    background: none;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
  }

  .header-disabled:hover + .speech-bubble,
  .speech-bubble:hover {
    animation: none;
  }

  .nav-footer {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    order: 3;
    z-index: 10;
  }

  .nav-footer-container {
    padding: 35px 10px;
    margin: 35px 0;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
  }

  .nav-footer .small > a {
    font-size: 12px;
    padding: 0 6px 0 5px;
    border-right: 1px #FFF solid;
  }

  .nav-footer .small > a:last-child {
    border: none;
  }

  .nav-footer-container > p:nth-child(odd) {
    font-size: 12px;
    font-weight: 600;
  }

  .nav-footer-container > p:nth-child(even) {
    font-size: 12px;
    font-weight: 300;
  }
  
  .nav-footer > p:nth-child(4) {
    line-height: 26px;
  }
}
/* header */

/* first-view */
.top-image {
  background-image: url(/img/bg_image.jpg);
  background-position: center 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(77, 79, 42, 0.3);
  background-blend-mode: multiply;
  position: relative;
  height: 760px;
  color: #fff;
}

.top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.top-text-title {
  font-size: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 0.8px;
}

.top-text-sub {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 1.3px;
}

.scroll-button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateY(-120%) translateX(-50%);
  color: #fff;
}

.scroll-button p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-bottom: 4px;
}

@media screen and (max-width: 767.8px) {
  .top-image {
    height: 550px;
  }
}

@media screen and (max-width: 375px) {
  .top-image {
    height: 500px;
  }
}
/* first-view */

/* second-view */
.second-view {
  position: relative;
}

.second-view-left {
  width: 38%;
  z-index: 10;
  margin: 60px 0 0;
}

.second-view-title {
  margin: 55px 0 50px;
  color: #333;
  font-weight: bold;
  font-size: 44px;
  line-height: 68px;
}

.second-view-description {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}

.second-view-right {
  width: 58%;
  z-index: 10;
}

.second-view-right img {
  border-radius: 20px 0 0 20px;
}

.second-view-bg::after {
  content: "";
  background-color: #f8f8f5;
  position: absolute;
  border-radius: 0 0 0 100px;
  width: 69%;
  height: 370px;
  z-index: -1;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1224px) {
  .second-view-left {
    margin-top: 0;
    width: 50%;
  }

  .second-view-title {
    margin: 18px 0;
    font-size: 34px;
    line-height: 50px;
  }

  .second-view-description {
    font-size: 12px;
    line-height: 20px;
  }

  .second-view-right {
    width: 46%;
  }

  .second-view-bg::after {
    height: 274px;
  }
}

@media screen and (max-width: 767.8px) {
  .second-view-left {
    width: 100%;
    max-width: 354px;
  }

  .second-view-title {
    margin: 20px 0;
    font-size: 32px;
    line-height: 54px;
  }

  .second-view-description {
    margin-bottom: 40px;
  }

  .second-view-right {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .second-view-left {
    width: 300px;
  }

  .second-view-title {
    font-size: 28px;
    line-height: 50px;
  }
}
/* second-view */

/* services */
.services {
  position: relative;
}

.service-row {
  margin-bottom: 75px;
}

.service {
  width: 46%;
  position: relative;
}

.service .service-img-link {
  display: inline-block;
  margin-bottom: 25px;
}

.service-img-link:hover {
  opacity: .7;
  transition: all 1s;
}

.service .service-img-link > img {
  border-radius: 20px;
}

.service > img {
  border-radius: 20px;
  margin-bottom: 25px;
}

.service-title {
  font-size: 24px;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}

.service-description {
  font-size: 14px;
  font-family: noto-sans-cjk-jp, sans-serif;
  line-height: 26px;
  color: #666;
  margin-bottom: 50px;
}

.service-link {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.service-link a {
  display: inline-block;
  color: #666;
  padding: 6px;
  background: linear-gradient(#666, #666) left bottom / 100% 1px no-repeat;
  transition: background-size 0.6s;
  text-decoration: none;
}

.service-link a:hover {
  background-position: right bottom;
  background-size: 0 1px;
}

.services-bg::after {
  content: "";
  background-color: #f8f8f5;
  position: absolute;
  border-radius: 0 100px 100px 0;
  width: 72%;
  height: 1450px;
  z-index: -1;
  left: 0;
  top: 148px;
}

@media screen and (max-width: 767.8px) {
  .service {
    width: 100%;
  }

  .service > img {
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .service-description {
    margin-bottom: 20px;
  }

  .service-link {
    position: static;
    text-align: right;
  }

  .service {
    margin-bottom: 75px;
  }

  .services-bg::after {
    height: 2450px;
    top: 128px;
  }
}
/* services */


/* information */
.information .section-title {
  color: #FFF;
}

.information-bg {
  background: url(/img/info-bg.jpg) no-repeat center center;
  background-size: cover;
}

.info-content {
  padding: 120px 0 60px;
  color: #fff;
}

.info-text {
  margin-bottom: 30px;
}

.info-text-left {
  margin-right: 54px;
}

.info-text-left .large-text {
  font-size: 60px;
  font-weight: 600;
  margin-right: 8px;
}

.info-text-left .medium-text {
  font-size: 24px;
  font-weight: 300;
}

.info-text-right > p {
  margin-bottom: 0;
}

.info-text-right .medium-text {
  font-size: 24px;
  font-weight: 600;
  margin: 6px 0 14px;
}

.info-text-right .small-text {
  font-size: 14px;
  font-weight: 300;
}

.info-main {
  border: 1px solid #fff;
  border-radius: 20px;
  height: 150px;
  text-align: center;
  padding: 14px 0;
}

.info-main > div {
  width: 50%;
}

.info-main-title {
  font-size: 22px;
  font-weight: 600;
  margin: 28px 0 8px;
}

.info-main-text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 12px;
}

.info-main-left {
  border-right: 1px solid #fff;
}

.info-elements {
  margin-top: 28px;
}

.info-element {
  border: 1px #fff solid;
  border-radius: 20px;
  padding: 24px 0 18px;
  margin-bottom: 28px;
  text-align: center;
}

.info-element > img {
  width: 40px;
  height: 40px;
}

.info-element > p {
  margin: 18px 0 0;
  font-size: 12px;
  font-family: noto-sans-cjk-jp, sans-serif;
}

@media screen and (max-width: 767.8px) {
  .info-text-right .medium-text {
    margin-bottom: 6px;
  }

  .info-main {
    border: 1px solid #fff;
    border-radius: 20px;
    height: auto;
    text-align: center;
    padding: 0 14px;
  }

  .info-main > div {
    width: 100%;
  }

  .info-main-left {
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .info-main-title {
    margin: 20px 0 8px;
  }

  .info-main-text {
    margin-bottom: 20px;
  }
}
/* information */

/* space */
.space {
  position: relative;
}

.space .section-title {
  position: relative;
  z-index: 100;
}

.grid-bg {
  background: linear-gradient(90deg, rgba(238, 238, 238, 0) 15px, rgba(238, 238, 238, 1) 16px), linear-gradient(0deg,  rgba(238, 238, 238, 0) 15px, rgba(238, 238, 238, 1) 16px);
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 1120px;
  width: 100vw;
}

.space-intro img {
  width: 82%;
}

.space-intro p {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
  color: #333;
}

.space-intro-left,
.space-intro-right{
  width: 50%;
  position: relative;
}

.space-intro-left::after{
  content: 'Office space';
  background-color: #9F9F9F;
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  padding: 0 36px 2px;
  border-radius: 36px;
  position: absolute;
  top: 230px;
  right: 0;
}

.space-intro-right {
  text-align: right;
}

.space-intro-right img {
  position: absolute;
  top: -60px;
  right: 0;
}

.space-intro-right::after{
  content: 'Terrace space';
  background-color: #9F9F9F;
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  padding: 0 36px 2px;
  border-radius: 36px;
  position: absolute;
  top: 480px;
  left: 84px;
}

.space-slider{
  padding: 0;
  margin-top: 120px;
  position: relative;
}

.space-slider img{
  width: 100%;
  height: auto;
}

.slick-current + li + li img {
  border-radius: 30px 0 0 30px;
}

.space-slider .prev {
  position: absolute;
  bottom: -70px;
  right: 160px;
}

.space-slider .next {
  position: absolute;
  bottom: -70px;
  right: 100px;
}

.space-slider .prev img,
.space-slider .next img {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 767.8px) {
  .space-intro-left,
  .space-intro-right {
    width: 100%;
    text-align: center;
  }

  .space-intro p {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: left;
  }

  .space-intro-right img {
    position: static;
    margin-top: 40px;
  }

  .space-intro-left::after{
    padding: 0 28px 2px;
    font-size: 28px;
    top: auto;
    right: auto;
    left: 0;
    bottom: -15px;
  }

  .space-intro-right::after{
    font-size: 28px;
    padding: 0 28px 2px;
    border-radius: 36px;
    position: absolute;
    top: auto;
    left: 0;
    bottom: -15px;
  }

  .slick-current + li img {
    border-radius: 20px 0 0 20px !important;
  }

  .space-slider .prev {
    bottom: -60px;
    right: 90px;
  }

  .space-slider .next {
    position: absolute;
    bottom: -60px;
    right: 30px;
  }
}

/* space */

/* news */
.news .section-title {
  font-weight: 600;
}

.news a {
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EEE;
}

.news a:last-child {
  border-bottom: 1px solid #EEE;
}

.news a:hover {
  text-decoration: none;
}

.news-left {
  margin-right: 20px;
}

.news-date {
  color: #999;
  font-size: 12px;
}

.news-title {
  font-size: 14px;
  color: #333;
  margin-bottom: 0;
  background: linear-gradient(#333, #333) right bottom / 0 1px no-repeat;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.news a:hover .news-title {
  background-position: left bottom;
  background-size: 100% 1px;
}
/* news */

/* access */
.access {
  color: #333;
}

.access .section-title {
  font-weight: 600;
}

.access iframe {
  width: 100%;
  height: 420px;
  border: none;
  border-radius: 20px;
}

.access-description {
  line-height: 1.8;
}
/* access */

/* footer */
footer {
  margin-top: 120px;
  padding: 50px 0 0;
  background-color: #111;
  color: #FFF;
}

footer a:hover {
  text-decoration: none;
}

.footer-left {
  width: 25%;
}

.footer-left img {
  width: 140px;
  margin: 50px 0 25px;
}

.footer-left p {
  font-size: 12px;
}

.footer-left .copy {
  color: #666;
  margin-top: 160px;
  font-size: 12px;
}

.footer-right {
  width: 75%;
}

.page-top {
  text-align: right;
  margin-bottom: 40px;
}

.page-top span {
  font-size: 14px;
  margin-right: 10px;
}

.footer-row-top {
  padding: 40px 20px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  position: relative;
}

.footer-row-bottom {
  padding: 35px 20px;
  border-bottom: 1px solid #707070;
}

.footer-row-top > div:first-child {
  margin-bottom: 50px;
}

.footer-row-bottom > div:first-child {
  margin-bottom: 30px;
}

.footer-right-title {
  width: 140px;
  padding: 4px 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.footer-row-top a {
  color: #FFF;
  margin-right: 26px;
  font-size: 14px;
  font-weight: 300;
  padding: 4px;
  background: linear-gradient(#FFF, #FFF) right bottom / 0 1px no-repeat;
	transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-row-top a:hover {
  background-position: left bottom;
	background-size: 100% 1px;
}

.footer-right-subtitle {
  width: 100px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.footer-row-bottom a {
  color: #FFF;
  padding: 0 16px;
  border-right: 1px solid #FFF;
  font-size: 12px;
}

.footer-row-bottom a > span {
  padding: 4px;
  background: linear-gradient(#FFF, #FFF) right bottom / 0 1px no-repeat;
	transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-row-bottom a:hover > span {
  background-position: left bottom;
	background-size: 100% 1px;
}

.footer-row-bottom > div a:last-child {
  border: none;
  padding-right: 0;
}

.footer-disabled {
  cursor: pointer;
}

.footer-speech-bubble {
  display: none;
  opacity: 0;
  position: absolute;
  width: 950px;
  bottom: 190px;
  right: 0;
  padding: 32px;
  background-color: #FFF;
  border-radius: 20px;
  color: #CCC;
}

.footer-speech-bubble .radius {
  width: 280px;
  height: auto;
  border-radius: 10px;
  margin-right: 16px;
  background-color: #F5F5F8;
}

.footer-speech-bubble a {
  display: inline-block;
  margin-right: 0;
}

.footer-speech-bubble a span {
  color: #666;
  padding: 4px;
  background: linear-gradient(#666, #666) left bottom / 100% 2px no-repeat;
  transition: background-size 0.6s;
  text-decoration: none;
}

.footer-speech-bubble a:hover span {
  background-position: right bottom;
  background-size: 0 2px;
}

.triangle-3::before {
  content: "";
  position: absolute;
  display: none;
  opacity: 0;
  top: 255px;
  right: 280px;
  border-right: 25px solid transparent;
  border-top: 25px solid #FFF;
  border-left: 25px solid transparent;
}

.triangle-4::before {
  content: "";
  position: absolute;
  display: none;
  opacity: 0;
  top: 255px;
  right: 145px;
  border-right: 25px solid transparent;
  border-top: 25px solid #FFF;
  border-left: 25px solid transparent;
}

.footer-speech-bubble.hovered::before {
  display: block;
  opacity: 1;
  animation-duration: .6s;
  animation-timing-function: ease;
  animation-name: fade-in;
}

.footer-speech-bubble.hovered {
  display: block;
  opacity: 1;
  animation-duration: .6s;
  animation-timing-function: ease;
  animation-name: fade-in;
}

@media screen and (max-width: 1070px) {
  .triangle-3::before {
    top: 255px;
    right: 230px;
  }

  .triangle-4::before {
    top: 255px;
    right: 95px;
  }
}

@media screen and (max-width: 991.8px) {
  .footer-left {
    width: 19%;
  }

  .footer-right {
    width: 81%;
  }

  .footer-row-top {
    padding: 40px 10px;
  }
  
  .footer-row-bottom {
    padding: 35px 10px;
  }
  
  .footer-right-title {
    width: 100px;
  }
  
  .footer-row-top a {
    margin-right: 8px;
  }

  .footer-right-subtitle {
    width: 75px;
  }

  .footer-row-bottom a {
    padding: 0 8px;
  }
  
  .footer-speech-bubble {
    width: auto;
  }

  .triangle-3::before {
    top: 475px;
    right: 300px;
  }

  .triangle-4::before {
    top: 475px;
    right: 170px;
  }
}

@media screen and (max-width: 895px) {
  .triangle-3::before {
    top: 475px;
    right: 220px;
  }

  .triangle-4::before {
    top: 475px;
    right: 90px;
  }
}

@media screen and (max-width: 767.8px) {
  footer {
    padding-bottom: 40px;
  }

  .footer-left, .footer-right {
    width: 100%;
  }

  .copy-sp {
    margin-top: 60px;
    font-size: 12px;
  }
  
  .copy-sp a {
    color: #666;
  }

  .footer-left > div {
    width: 50%;
  }

  .footer-left >div img {
    margin: 0;
  }

  .page-top-sp {
    text-align: right;
  }

  .page-top-sp a {
    display: inline-block;
  }

  .page-top-sp img {
    width: 34px;
    height: 34px;
  }

  .footer-row-top {
    padding: 20px 10px;
  }

  .footer-row-top a {
    margin-right: 22px;
  }

  .footer-row-bottom {
    padding: 20px 10px;
  }

  .footer-right-title,
  .footer-right-subtitle {
    margin-bottom: 10px;
  }

  .footer-row-bottom > div:first-child {
    margin-bottom: 20px;
  }

  .footer-row-top > div:first-child {
    margin-bottom:  20px;
  }

  .footer-row-bottom a > span {
    padding: 0;
  }

  .footer-disabled {
    margin-top: 10px;
  }

  .footer-speech-bubble {
    display: block;
    opacity: 1;
    position: static;
    width: 100%;
    color: #CCC;
    background: none;
    padding: 0;
  }

  .footer-speech-bubble > div > div {
    width: 50%;
  }

  .footer-speech-bubble .radius {
    width: 100%;
    height: auto;
    background-color: none;
    margin-right: 0;
  }

  .footer-disabled::before {
    content: none;
    animation: none;
  }

  .footer-speech-bubble a {
    display: inline-block;
    margin-right: 0;
    padding: 8px;
    text-align: center;
  }

  .footer-speech-bubble a span {
    padding: 0;
    background: none;
    font-size: 12px;
    color: #FFF;
  }

  .footer-disabled.hovered::before {
    display: none;
    opacity: 0;
    animation: none;
  }

  .footer-speech-bubble.hovered {
    display: block;
    opacity: 1;
    animation: none;
  }

  .footer-speech-bubble .link-icon g {
    fill: #000;
    stroke: #FFF;
  }
}
/* footer */



.transparent-area {
  position: absolute;
  opacity: 0;
}