@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

body {
  color: #777;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.small-container {
  max-width: 910px;
}

@media screen and (max-width: 911.98px) {
  .small-container {
    max-width: 720px;
  }
}

@media screen and (max-width: 767.98px) {
  .small-container {
    max-width: 540px;
  }
}

section {
  padding: 80px 0;
}

.section-heading {
  font-size: 1.75rem;
  line-height: 2;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.container {
  overflow: hidden;
}

@media screen and (max-width: 767.8px) {
  .section-heading {
    font-size: 1.0rem;
    line-height: 1.8;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold !important;
}

@media screen and (max-width: 768px) {
  h2, h3, h4 {
    font-size: 20px;
  }
}

/* 英字タイトルをWEBフォントに */
.english-section-title {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 767.98px) {
  .english-section-title {
    font-size: 2rem;
  }
}

.ja {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
}

/* buttons */

.nowrap {
  display: inline-block;
  white-space: nowrap;
}

.top-button {
  box-shadow: 0px 2px 5px rgb(17, 14, 9);
  padding: 15px 70px;
  margin: 5px;
  width: 340px;
}

.fixed-bottom {
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .top-button {
    box-shadow: 0px 2px 5px rgb(17, 14, 9);
    padding: 15px 15px;
    margin: 5px;
    width: 230px;
  }
}

/* virtual-fv-cv-btn */
.virtual-fv-cv-btn {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
}

.virtual-fv-cv-btn>button {
  width: 49%;
  font-weight: bold;
  background-color: #df7156;
  border: 2px solid #df7156;
  border-radius: 100px;
  font-size: 26px;
  color: #fff;
  transition: background 0.4s;
  padding: 15px;
}

.virtual-fv-cv-btn>button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #df7156;
}

@media screen and (max-width: 987px) {
  .virtual-fv-cv-btn>button {
    font-size: 22px;
  }
}

@media screen and (max-width: 987px) {
  .virtual-fv-cv-btn>button {
    font-size: 18px;
  }
}

form span.bg-danger {
  background-color: #FA817D !important;
}

.virtual-fv-cv-btn .top-button, .virtual-form-btn .top-button {
  position: relative;
  font-size: 20px;
}

.virtual-fv-cv-btn .top-button::after, .virtual-form-btn .top-button::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -7px;
  transform: rotate(45deg);
  transition: right .2s;
}

.virtual-fv-cv-btn>button {
  width: 80%;
  transition: background 0.4s;
  padding: 10px;
  font-size: 20px;
}

.virtual-fv-cv-btn .top-button:hover::after {
  border-top: solid 2px #df7156;
  border-right: solid 2px #df7156;
  right: 20px;
}

.virtual-form-btn .top-button:hover::after {
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  right: 20px;
}

@media screen and (max-width: 1199px) {
  .virtual-fv-cv-btn>button {
    width: 70%;
  }
}

@media screen and (max-width: 987px) {
  .virtual-fv-cv-btn>button {
    width: 80%;
  }

  .virtual-fv-cv-btn .top-button, .virtual-form-btn .top-button {
    font-size: 16px;
  }

  .virtual-fv-cv-btn>button {
    font-size: 16px;
  }

  .virtual-form-btn .top-button {
    width: 340px;
  }
}

/* virtual-fv-cv-btn */

/* header */

.transparent-area {
  position: absolute;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

#header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  color: #333;
  padding: 15px 30px;
  transition: all .5s;
  box-shadow: 0px 0px 5px #00000044;
  font-family: noto-sans-cjk-jp, sans-serif;
  ;
}

#header a {
  font-family: noto-sans-cjk-jp, sans-serif;
  ;
}

#header.hide {
  transform: translateY(-160px);
}

.header-container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.header-left span {
  color: #333;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-left: 26px;
  vertical-align: middle;
}

.nav-menu {
  padding-top: 15px;
}

.nav-menu ul {
  list-style: none;
  padding-left: 0;
  font-weight: 600;
}

.nav-menu ul>li {
  margin-left: 20px;
}

.header-upper-right {
  font-size: 12px;
  margin-bottom: 10px;
}

.header-lower-right {
  font-size: 16px;
  margin-bottom: 0;
}

.nav-hover:hover {
  background: linear-gradient(#333, #333) right bottom / 0 2px no-repeat;
}

.header-right a {
  color: #333;
  text-decoration: none;
  padding: 4px;
  background: right bottom / 0 2px no-repeat;
  transition: background-size 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-right a:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}

.nav-footer {
  display: none;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .header-left span {
    display: block;
    margin: 8px auto 0;
    text-align: center;
  }

  .header-lower-right {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .nav-menu ul>li {
    margin-left: 6px;
  }

  .h-tit {
    color: #333;
  }
}

@media screen and (max-width: 767.8px) {
  #header {
    padding: 15px 0;
    color: #fff;
  }

  #header .nav-menu a {
    color: #fff;
  }

  #header.white-bg {
    padding: 20px 0 10px;
  }

  #header.white-bg .nav-menu a {
    color: #FFF;
  }

  .header-left span {
    display: inline-block;
    margin-left: 16px;
  }

  .nav-menu {
    display: none;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #000;
    overflow-y: scroll;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .nav-menu .link-icon g {
    fill: #000;
    stroke: #FFF;
  }

  .nav-menu .arrow path {
    stroke: #FFF;
  }

  .nav-toggle {
    display: inline-block;
    margin-top: 6px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFF;
    z-index: 10;
    cursor: pointer;
  }

  .nav-toggle span {
    position: absolute;
    left: 13px;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
  }

  .nav-toggle span:nth-of-type(1) {
    top: 18px;
    width: 24px;
  }

  .nav-toggle span:nth-of-type(2) {
    top: 25px;
    width: 24px;
  }

  .nav-toggle span:nth-of-type(3) {
    top: 32px;
    width: 24px;
  }

  .nav-toggle.cross span:nth-of-type(1) {
    transform: translate(0, 7px) rotate(45deg);
    transition: transform .3s;
  }

  .nav-toggle.cross span:nth-of-type(2) {
    opacity: 0;
    transition: opacity .3s;
  }

  .nav-toggle.cross span:nth-of-type(3) {
    width: 24px;
    transform: translate(0, -7px) rotate(-45deg);
    transition: transform .3s;
  }

  .header-upper-right {
    order: 2;
    width: 320px;
    margin: 0 auto;
  }

  .header-lower-right {
    order: 1;
    width: 300px;
    margin: 0 auto;
    font-size: 16px;
  }

  .nav-menu ul>p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .nav-menu ul>li {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .header-right a {
    font-size: 16px;
    padding: 0;
  }

  .nav-footer {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    order: 3;
    z-index: 10;
  }

  .nav-footer-container {
    padding: 35px 10px;
    margin: 35px 0;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
  }

  .nav-footer .small>a {
    font-size: 12px;
    padding: 0 6px 0 5px;
    border-right: 1px #FFF solid;
  }

  .nav-footer .small>a:last-child {
    border: none;
  }

  .nav-footer-container>p:nth-child(odd) {
    font-size: 12px;
    font-weight: 600;
  }

  .nav-footer-container>p:nth-child(even) {
    font-size: 12px;
    font-weight: 300;
  }

  .nav-hover:hover {
    background: linear-gradient(#fff, #fff) right bottom / 0 2px no-repeat;
  }

  .header-logo {
    width: 80px;
  }
}

/* header */

/* first view */
.virtual-top {
  padding-top: 100px;
}

@media screen and (max-width: 991.98px) {
  .virtual-top {
    padding-top: 95px;
  }
}

.first-view {
  position: relative;
}

.virtual-top .first-view {
  padding: 30px 0 50px;
}

.first-view-container {
  max-width: calc((100vw + 1140px) / 2);
  padding-left: 10px;
  margin: 0 0 0 auto;
}

.first-view-left {
  width: 38%;
  z-index: 10;
}

.first-view-title {
  margin: 20px 0;
  color: #333;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.golden-text {
  color: #8b7706;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.first-view-description {
  font-size: 14px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0%;
}

.first-view-right {
  width: 58%;
  z-index: 10;
}

.first-view-right img {
  border-radius: 20px 0 0 20px;
}

.first-view-bg::after {
  content: "";
  background-color: #f8f8f5;
  position: absolute;
  border-radius: 0 0 0 100px;
  width: 69%;
  height: 370px;
  z-index: -1;
  right: 0;
  top: 0;
}

.virtual-top-lead {
  font-size: 16px;
  color: #666;
  line-height: 30px;
}

@media screen and (max-width: 1224px) {
  .first-view-container {
    padding-left: 20px;
  }

  .first-view-left {
    margin-top: 0;
    width: 50%;
  }

  .first-view-title {
    margin: 18px 0;
    font-size: 30px;
    line-height: 50px;
  }

  .first-view-description {
    font-size: 12px;
    line-height: 20px;
  }

  .first-view-right {
    width: 46%;
  }

  .first-view-bg::after {
    height: 274px;
  }

  .virtual-top-lead {
    font-size: 14px;
    line-height: 25px;
  }
}

@media screen and (max-width: 767.8px) {
  .first-view-container {
    max-width: 100%;
    padding-left: 0;
  }

  .first-view-left {
    width: 100%;
    max-width: 354px;
  }

  .first-view-title {
    margin: 20px 0;
    font-size: 28px;
    line-height: 40px;
  }

  .first-view-description {
    margin-bottom: 30px;
  }

  .first-view-right {
    width: 100%;
  }

  .first-view-right img {
    max-width: calc((100vw + 354px) / 2);
    display: block;
    margin-left: auto;
  }

  .virtual-top-lead {
    margin-bottom: 40px;
  }

  .virtual-top .first-view {
    padding: 30px 0;
  }
}

@media screen and (max-width: 575.98px) {
  .virtual-top section {
    padding: 40px 0;
  }
}

@media screen and (max-width: 380px) {
  .first-view {
    padding-top: 30px;
  }

  .first-view-left {
    padding: 0 10px 0 10px;
  }

  .first-view-title {
    font-size: 26px;
  }
}

/* first view */

/* reasons */
.reasons-detail {
  font-size: 14px;
  padding: 0 15px;
}

.reason-row:nth-of-type(1) {
  margin-bottom: 75px;
}

.reason {
  width: 46%;
  position: relative;
}

.reason>img {
  border-radius: 20px;
  margin-bottom: 10px;
}

.reason-title {
  font-size: 24px;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
  line-height: 1.5;
}

.reason-description {
  font-size: 14px;
  font-family: noto-sans-cjk-jp, sans-serif;
  line-height: 26px;
  color: #666;
  margin-bottom: 50px;
}

.reason-link {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.reason-link button {
  cursor: pointer;
  display: inline-block;
  color: #666;
  padding: 6px;
  background: linear-gradient(#666, #666) left bottom / 100% 1px no-repeat;
  transition: background-size 0.6s;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.reason-link button:hover {
  background-position: right bottom;
  background-size: 0 1px;
}

.reason-modal-header {
  border-bottom: 1px solid #203744;
}

.reason-modal-title {
  font-size: 20px;
  padding: 3px 15px 0;
}

@media screen and (max-width: 1199.98px) {
  .reason-modal-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.8px) {
  .reason {
    width: 100%;
    margin-bottom: 80px;
  }

  .reason-row {
    margin: 0;
  }

  .reason>img {
    border-radius: 10px;
  }

  .reason-description {
    margin-bottom: 20px;
  }

  .reason-link {
    position: static;
    text-align: right;
  }

  .reason-title {
    font-size: 20px;
    line-height: 1.3;
    margin: 15px 0;
  }
}

/* services */
.service-icon {
  width: 20%;
}

.service-text {
  padding: 18px 12px;
  width: 80%;
}

.service-text-title {
  font-size: 18px;
}

.service-text-description {
  margin-bottom: 0;
  font-size: 14px;
}

.monthly-fee {
  width: 75%;
  border-radius: 30px;
}

.monthly-fee .price {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.tax-included {
  font-size: 14px;
}

@media screen and (max-width: 767.98px) {
  .monthly-fee {
    width: 100%;
  }

  .monthly-fee .price {
    font-size: 4rem;
  }
}

@media screen and (max-width: 575.98px) {
  .monthly-fee .price {
    font-size: 2.5rem;
  }

  .tax-included {
    font-size: 12px;
  }
}

/* services */


/* flow */
.flow-card {
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 0%;
  height: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #aaa;
}

.flow-card>.card-body {
  z-index: 10;
  padding: 0.875rem;
}

.flow-title {
  color: #df7156;
  font-size: 16px;
  line-height: 24px;
}

.flow-number {
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
}

.flow-description {
  font-size: 14px;
  margin: 0;
}

.flow-cta {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 70px;
  margin: 5px;
  width: 340px;
  box-shadow: 0px 2px 5px rgb(17 14 9);
  background-color: #df7156;
  border: 2px solid #df7156;
  border-radius: 10px;
}

.flow-cta:hover {
  background-color: #fff;
  color: #df7156;
  transition: background 0.4s;
}

.flow-cta-contents {
  width: fit-content;
  margin: 0 auto;
}

.flow-cta-sentence {
  line-height: 20px;
  display: flex;
  margin-top: 3px;
  margin-bottom: 0;
}

.flow-icon {
  fill: #fff;
}

.flow-cta:hover .flow-icon {
  fill: #df7156;
}

@media screen and (max-width: 767.98px) {
  .flow-container {
    padding: 0 10px;
  }

  .flow-title {
    font-size: 16px;
  }

  .flow-description {
    font-size: 14px;
  }

  .flow-cta {
    font-size: 18px;
    width: 100%;
    padding: 10px;
  }
}

/* flow */

/* faq */
.faq-item {
  cursor: pointer;
}

.chevron-down, .chevron-up {
  display: none;
}

.chevron-down.show, .chevron-up.show {
  display: block;
}

.faq h3 {
  font-size: 16px;
  margin-bottom: 0;
  padding-top: 5px;
}

.question-box {
  align-items: center;
}

.question-box p {
  margin-bottom: 0;
}

.question-box p, .capital-a {
  font-size: 20px;
}

.faq .hidden-text {
  border-top: none;
}

.answer-text {
  padding-top: 5px;
}

@media screen and (max-width: 575.98px) {
  .question-box h3 {
    font-size: 14px;
    padding-top: 2px;
  }

  .answer-text {
    font-size: 14px;
    padding-top: 0;
  }

  .question-box p, .capital-a {
    font-size: 16px;
  }
}

/* faq */

/** nap **/
.nap .nap-title {
  background: #18315e;
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
}

.nap-table {
  color: #343a40;
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: left;
  width: 100%;
}

.nap-table th {
  background: #f7f7f7;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
  width: 25%;
}

.nap-table td {
  border: 1px solid #ddd;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .nap-table th {
    display: block;
    width: auto;
  }

  .nap-table td {
    display: block;
  }
}

/* nap */

/* fixed bottom cta */

.fixed-cta {
  width: fit-content;
  margin-left: auto;
}

.cta-card {
  background: #fff;
  width: 270px;
  margin-left: auto;
  margin-right: 10px;
  box-shadow: 0 0 5px #aaa;
  position: relative;
}

.cta-img {
  background-image: url(/img/features_of_harbors1.jpg);
  background-size: cover;
  height: 110px;
  position: relative;
}

.cta-img::before {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.virtual-fixed-cv-btn {
  padding: 5px;
  height: auto;
  margin: 0 auto;
}

.cta-card .virtual-fixed-cv-btn>button {
  width: 80%;
  font-weight: bold;
  border-radius: 100px;
  font-size: 13px;
  transition: background 0.4s;
  padding: 4px 10px;
  text-align: center;
}

.cta-card .virtual-fixed-cv-btn .cv-contact-btn {
  background-color: rgba(255, 255, 255, 0.6);
  color: #df7156;
}

.cta-card .virtual-fixed-cv-btn .cv-apply-btn {
  background-color: #df7156;
  border: 1px solid #df7156;
  color: #fff;
}

.cta-card .virtual-fixed-cv-btn .cv-apply-btn::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -7px;
  transform: rotate(45deg);
  transition: right .2s;
}

.cta-card .virtual-fixed-cv-btn .cv-apply-btn:hover::after {
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  right: 20px;
}

.cta-card .virtual-fixed-cv-btn .cv-contact-btn::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0;
  border-top: solid 2px #df7156;
  border-right: solid 2px #df7156;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -7px;
  transform: rotate(45deg);
  transition: right .2s;
}

.cta-card .virtual-fixed-cv-btn .cv-contact-btn:hover::after {
  border-top: solid 2px #df7156;
  border-right: solid 2px #df7156;
  right: 20px;
}

.cta-card .virtual-fixed-cv-btn .cv-apply-btn:hover, .cta-card .virtual-fixed-cv-btn .cv-contact-btn:hover {
  opacity: 0.8;
}

.cta-lead {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  letter-spacing: 2px;
  font-size: 17px;
}

.cta-sentence {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: 100%;
  font-size: 10px;
  margin-bottom: 0;
}

.fixed-bottom {
  z-index: 20;
}

.mobile-footer .mv-cta {
  height: 100%;
  font-size: 13px;
  background-color: #df7156;
}

.mobile-footer .mv-cta:hover {
  opacity: 1;
  background-color: #bb604a;
}

.mv-cta-contents {
  width: fit-content;
  line-height: 20px;
  font-weight: 600;
}

.application-img {
  fill: #fff;
}

.mobile-footer>div {
  width: 50%;
  border-right: #ddd 1px solid;
}

.mobile-footer>div:last-child {
  border: none;
}

.mobile-footer button, .mobile-footer a {
  border-radius: 0;
}

@media screen and (max-width: 767.98px) {
  .article-cta-card {
    display: none;
  }
}

@media screen and (max-width: 575.98px) {
  .cta-card {
    display: none;
  }
}

.virtual-pc-cta {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  width: 270px;
  box-shadow: 0px 2px 5px rgb(17 14 9);
  background-color: #df7156;
  border: 2px solid #df7156;
  border-radius: 10px;
}

.virtual-pc-cta:hover {
  background-color: #fff;
  color: #df7156;
  transition: background 0.4s;
}

.virtual-pc-cta-contents {
  width: fit-content;
  margin: 0 auto;
}

.virtual-pc-cta-lead {
  font-size: 18px;
}

.fvirtual-pc-cta-sentence {
  line-height: 20px;
  display: flex;
  margin-top: 3px;
  margin-bottom: 0;
}

.virtual-pc-cta:hover .flow-icon {
  fill: #df7156;
}

@media screen and (max-width: 767.98px) {
  .virtual-pc-cta {
    font-size: 18px;
    width: 100%;
    padding: 10px;
  }
}

/* fixed bottom cta */


/* contact form */
.modal-container {
  max-width: 550px;
}

@media screen and (max-width: 575.98px) {
  .modal-container {
    width: 100%;
    padding: 15px;
    margin: 0;
  }

  #reservedErrorMessage p {
    font-size: 14px;
  }
}

.btn-submit {
  display: block;
  width: 70%;
  margin: 0 auto;
  color: #fff;
  background-color: #df7156;
  border: 2px solid #df7156;
}

.btn-submit:hover {
  color: #df7156;
  background-color: #fff;
}

.modal-footer {
  border-top: #fff;
}

/* contact form */

/* iframe */
iframe {
  display: block;
  width: 100%;
}

iframe.map {
  height: 400px;
  border-radius: 20px;
}

/* iframe */

/* footer */
footer {
  margin: 0;
  padding: 50px 0;
  background-color: #111;
  color: #FFF;
}

footer a:hover {
  text-decoration: none;
}

.footer-left {
  width: 25%;
}

.footer-left img {
  width: 140px;
  margin: 0 0 25px;
}

.footer-left p {
  font-size: 12px;
}

.footer-left .copy {
  color: #666;
  margin-top: 30px;
  font-size: 12px;
}

.footer-right {
  width: 75%;
}

.page-top {
  text-align: right;
  margin-bottom: 20px;
}

.page-top span {
  font-size: 14px;
  margin-right: 10px;
}

.footer-row-top {
  padding: 40px 20px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  position: relative;
}

.footer-row-bottom {
  padding: 15px 20px;
}

.footer-row-bottom>div:first-child {
  margin-bottom: 30px;
}

.footer-right-title {
  width: 140px;
  padding: 4px 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.footer-row-top a {
  color: #FFF;
  margin-right: 26px;
  font-size: 14px;
  font-weight: 300;
  padding: 4px;
  background: linear-gradient(#FFF, #FFF) right bottom / 0 1px no-repeat;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-row-top a:hover {
  background-position: left bottom;
  background-size: 100% 1px;
}

.footer-right-subtitle {
  width: 100px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.footer-row-bottom a {
  color: #FFF;
  padding: 0 16px;
  font-size: 12px;
}

.footer-right-content {
  color: #FFF;
  padding: 0 16px;
  border-right: 1px solid #FFF;
  font-size: 12px;
}

.footer-row-bottom a>span {
  padding: 4px;
  background: linear-gradient(#FFF, #FFF) right bottom / 0 1px no-repeat;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.footer-row-bottom a:hover>span {
  background-position: left bottom;
  background-size: 100% 1px;
}

.footer-row-bottom>div a:last-child {
  border: none;
  padding-right: 0;
}

@media screen and (max-width: 991.8px) {
  .footer-left {
    width: 19%;
  }

  .footer-right {
    width: 81%;
  }

  .footer-row-top {
    padding: 40px 10px;
  }

  .footer-row-bottom {
    padding: 35px 10px;
  }

  .footer-right-title {
    width: 100px;
  }

  .footer-row-top a {
    margin-right: 8px;
  }

  .footer-right-subtitle {
    width: 75px;
  }

  .footer-row-bottom a {
    padding: 0 8px;
  }
}

@media screen and (max-width: 767.8px) {
  footer {
    padding-bottom: 40px;
  }

  .footer-left, .footer-right {
    width: 100%;
  }

  .copy-sp {
    margin-top: 20px;
    font-size: 12px;
  }

  .copy-sp a {
    color: #666;
  }

  .footer-left>div {
    width: 50%;
  }

  .footer-left>div img {
    margin: 0;
  }

  .page-top-sp {
    text-align: right;
  }

  .page-top-sp a {
    display: inline-block;
  }

  .page-top-sp img {
    width: 34px;
    height: 34px;
  }

  .footer-row-top {
    padding: 20px 10px;
  }

  .footer-row-top a {
    margin-right: 22px;
  }

  .footer-row-bottom {
    padding: 20px 10px;
  }

  .footer-right-content {
    border: none;
    padding: 0 8px;
  }

  .footer-right-title,
  .footer-right-subtitle {
    margin-bottom: 10px;
  }

  .footer-row-bottom>div:first-child {
    margin-bottom: 30px;
  }

  .footer-row-top>div:first-child {
    margin-bottom: 20px;
  }

  .footer-row-bottom a>span {
    padding: 0;
  }
}

/* footer */

/* LINE@追加 */
.virtual-fv-cv-btn>.fv-line {
  background-color: #06C755;
  border-color: #06C755;
  text-decoration: none;
}

.virtual-fv-cv-btn>.fv-line:hover {
  text-decoration: none;
  color: #06C755;
  text-decoration: none;
}

.virtual-fv-cv-btn .fv-line:hover::after {
  border-top: solid 2px #06C755;
  border-right: solid 2px #06C755;
  right: 10px;
}

.fixed-line, .mobile-footer .fixed-line {
  background-color: #06C755;
  border: #06C755 solid 2px;
  color: #fff;
}

.fixed-line:hover {
  color: #06C755;
}

.line-logo {
  height: 40px;
}

.form-line {
  width: 50%;
  background-color: #06C755;
  border: #06C755 solid 2px;
  color: #fff;
}

@media screen and (max-width: 575.98px) {
  .form-line {
    width: 70%;
  }
}

/* LINE@追加 */

/* LINE@セクション */
.balloon_l, .balloon_r {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
}

.balloon_r {
  justify-content: flex-end;
}

.faceicon {
  background: #fff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 52px;
  text-align: center;
  line-height: 75px;
  align-items: center;
  position: relative;
}

.balloon_l .faceicon {
  margin-right: 25px;
}

.balloon_r .faceicon {
  margin-left: 25px;
  order: 2;
}

.faceicon svg {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.balloon_l .faceicon svg {
  width: 45px;
  height: 45px;
}

.balloon_r .faceicon svg {
  top: 45%;
}

.says {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 20px 0 0;
  line-height: 1.5;
  font-size: 16px;
}

.balloon_l .says {
  background: #8DE055;
}

.balloon_r .says {
  background: #fff;
}

.says p {
  margin: 8px 0 0;
}

.says p:first-child {
  margin-top: 0;
}

.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  top: 10px;
}

.balloon_l .says:after {
  left: -26px;
  border-right: 30px solid #8DE055;
  transform: rotate(30deg);
}

.balloon_r .says:after {
  right: -26px;
  border-left: 30px solid #fff;
  transform: rotate(-30deg);
}

.contact-heading {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  color: #ee8585;
}

@media screen and (max-width: 767.8px) {
  .contact-heading {
    font-size: 0.9rem;
  }

  .says {
    font-size: 14px;
    max-width: 400px;
    margin-top: 10px;
  }

  .faceicon {
    width: 50px;
    height: 50px;
  }

  .balloon_l .faceicon svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 575.98px) {
  .says {
    max-width: 210px;
  }
}

/* LINE@セクション */
/* END */