@charset "utf-8";

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

TOPページ、コロナ対策の注意喚起部分の設定

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 767.98px) {
  .coworking-top .top-text {
    margin-top: 100px;
  }
}

@media screen and (max-width: 575.98px) {

  .alert-danger  {
    font-size: 12px;
  }
  .coworking-top .top-text h2 {
    font-size: 24px;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

全体の設定

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
body {
  color: #a9a9a9;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
    'Noto Sans Japanese', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #A9A9A9;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {

}

.bg-darkgray {
  background-color: #a9a9a9;
}

.container,
.container-fulid {
  overflow: hidden;
}

/* 見出しを太字に */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

h1.display-4 ,.top-text h2{
  text-shadow: 0px 0px 5px #00000044,
  -0px 0px 5px #00000044,
  0px -0px 5px #00000044,
  -0px -0px 5px #00000044;
}

h1.display-4{
  font-size: 6.5em;
}

.lead {
  text-shadow: 0px 0px 5px #00000044,
  -0px 0px 5px #00000044,
  0px -0px 5px #00000044,
  -0px -0px 5px #00000044;
}

.nowrap {
  display: inline-block;
  white-space: nowrap;
}

.top-button {
  box-shadow: 0px 2px 5px rgb(17, 14, 9);
  margin: 5px;
}

.btn-white {
  background-color: var(--white);
  color: #A9A9A9;
  box-shadow: 0px 2px 5px rgb(17, 14, 9);
}

.footer-menus a {
  color: #ffffff;
}

.footer-menus p {
  margin-bottom: 0.2rem;
}

.copyright {
  margin-top: 50px;
}

.term_main {
  padding: 10px;
}

header {
  box-shadow: 0px 0px 5px #00000044;
}

header.container-fluid {
  position: fixed;
  z-index: 100;
}

.virtual-office-menus {
  margin-top: 30px;
}

/* 英字タイトルをWEBフォントに */
header a,
.display-4,
.display-3,
.lead,
.circle-badges {
  font-family: 'Comfortaa', cursive;
}

/* パンくずリスト */
.breadcrumb {
  background: transparent;
}

.breadcrumb li + li:before {
  content: '»' !important;
}

/* ヘッダー営業時間 */
.top-stitch {
  padding: .5rem 0;
  color: #565656;
  background-color: #a9a9a9;
  box-shadow: 0px 0px 0px 10px #a9a9a9;
  border-bottom: dashed 2px #fff;
  border-left: dashed 2px #fff;
  border-right: dashed 2px #fff;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.top-stitch p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 250px;
  height: 35px;
  background: url("../img/logo_gray.png") center/contain;
  background-repeat: no-repeat;
}

.main-txt {
  left: 15%;
  bottom: 20px;
}

/* ギザギザ線 */
.zigzag {
  position: relative;
  margin: 5% 0;
  padding: 0;
  background-color: #a9a9a9;
}

.zigzag::before,
.zigzag::after {
  position: absolute;
  width: 100%;
  height: 60px;
  content: "";
}

.zigzag::before {
  top: -60px;
  background: linear-gradient(45deg, #a9a9a9 30px, transparent 0), linear-gradient(315deg, #a9a9a9 30px, transparent 0);
  background-size: 60px 60px;
}

.zigzag::after {
  bottom: -60px;
  background: linear-gradient(135deg, #a9a9a9 30px, transparent 0), linear-gradient(225deg, #a9a9a9 30px, transparent 0);
  background-size: 60px 60px;
}

/* 薄い背景のギザギザ線 */
.light-zigzag {
  position: relative;
  margin: 5% 0 0;
  padding: 0;
  background-color: #f8f9fa;
}

.light-zigzag::before,
.light-zigzag::after {
  position: absolute;
  width: 100%;
  height: 60px;
  content: "";
}

.light-zigzag::before {
  top: -60px;
  background: linear-gradient(45deg, #f8f9fa 30px, transparent 0), linear-gradient(315deg, #f8f9fa 30px, transparent 0);
  background-size: 60px 60px;
}

.light-zigzag::after {
  bottom: -60px;
  background: linear-gradient(135deg, #f8f9fa 30px, transparent 0), linear-gradient(225deg, #f8f9fa 30px, transparent 0);
  background-size: 60px 60px;
}

/* ギザギザ線なし */
.zigzag-none:after {
  content: none !important;
}

/* コピーライトのギザギザ線 */
.zigzag-copy {
  position: relative;
  padding-top: 5%;
  background-color: #a9a9a9;
}

.zigzag-copy::before {
  position: absolute;
  width: 100%;
  height: 60px;
  content: "";
  top: -60px;
  background: linear-gradient(45deg, #a9a9a9 30px, transparent 0), linear-gradient(315deg, #a9a9a9 30px, transparent 0);
  background-size: 60px 60px;
}

/* コワーキング料金一覧テーブル */
table.plan-list th, table.plan-list td{
  vertical-align: middle;
}

/* twitter埋め込み */

.twitter_area {
  margin: 0 auto;
  width: 320px;
}

/* ------------------------------
NEWS
--------------------------------- */
#news a:hover {
  color: #595959;
}
#news a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

/* ------------------------------
地図サイズ
--------------------------------- */
iframe {
  display: block;
  width: 100%;
}
iframe.map {
  height: 400px;
}

/* ------------------------------
フッター
--------------------------------- */
.stitch {
  padding: 1rem !important;
  margin: 2em 0 !important;
  color: #565656;
  background-color: #a9a9a9;
  box-shadow: 0px 0px 0px 10px #a9a9a9;
  border: dashed 2px #fff;
  border-radius: 8px;
}

.stitch p {
  margin-bottom: .5rem;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

トップページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* トップ画像 */
.top-image {
  background-image: url("../img/cafe-image.jpg");
  background-size: cover;
  background-position: center center;
  height: 650px;
  box-shadow: 0px 5px 6px 0px #e2e2e2;
  border-radius: 0;
}

.top-image > .filter {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.coworking-top {
  height: 850px;
}

.card-event-title {
  text-shadow: 0px 0px 5px #00000044, 0px 0px 5px #00000044, 0px 0px 5px #00000044, 0px 0px 5px #00000044;
}

.event-card-img {
  object-fit: cover;
}
.event-card-title {
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-top {
  background: linear-gradient(#1B406B, #172C59);;
  /* background-position: center center; */
  height: 270px;
  box-shadow: 0px 5px 6px 0px #e2e2e2;
  border-radius: 0;
}
.events-top .eventpage-title {
  margin-top: 100px;
  margin-bottom: 50px;
  width:100%;
}

.top-text {
  top: 20%;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

コワーキングプランページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.plan-category {
  position:relative;
  display: block;
  background-color: #18335F;
  color: #ffffff;
  padding: 10px;
  overflow: auto;
}
.plan-category:hover {
  opacity: 0.8;
}

.plan-category > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plan-category > .plans-open-icon {
  display: block;
  float: right;
  margin-right: 5px;
  height: 100%;
}

.plan-category > .plans-category-name {
  width: 90%;
  float:left;
  height: 100%;
}
@media screen and (max-width: 575.98px) {
  .plan-category > .plans-category-name {
    width: 100%;
  }
  .plan-category > .plans-open-icon {
    margin-top: 5px;
    width:100%;
    text-align: center;
  }
  .plan-category > .plans-open-icon > i{
    transform: rotate(90deg);
  }
}

.flow-button, .plan-button {
  position:relative;
  background-color: #18325F;
  color: #ffffff;
  border-radius: .25rem;
  transition-duration: 0.3s;
}

@media screen and (max-width: 575.98px) {
  .flow-button h2, .plan-button h2{
    font-size: 1.5em;
  }
}

.flow-button > a, .plan-button > a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flow-button:hover, .plan-button:hover{
  background-color: #58729F;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

バーチャルオフィス契約ステップページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.step-card.step1 {
  background-image: url(/img/seminarroom.jpg);
}
.step-card.step2 {
  background-image: url(/img/cafe.jpg);
}
.step-card.step3 {
  background-image: url(/img/pc.jpg);
}
.step-card.step4 {
  background-image: url(/img/documents.jpg);
}
.step-card.step5 {
  background-image: url(/img/interview.jpg);
}
.step-card.step6 {
  background-image: url(/img/engineer.png);
}
.step-card.step7 {
  background-image: url(/img/creditcard.jpg);
}
.step-card.step8 {
  background-image: url(/img/virtual_office.jpg);
}
.step-card {
  background-size:cover;
  background-position: center center;
  position: relative;
}
.step-card::before {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.step-card > .card-body {
  z-index: 10;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ROOMページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.room.top-image {
  background-image: url("../img/room-a.png");
  height: 390px;
}

h2.top {
  text-shadow: 0px 0px 5px #00000044,
  -0px 0px 5px #00000044,
  0px -0px 5px #00000044,
  -0px -0px 5px #00000044;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

メディアクエリ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* 中デバイス（タブレット, 992px 未満）
============================================== */
@media screen and (max-width: 991.98px) {
  .logo-mark {
    left: 5%;
  }

  .main-txt {
    left: 5%;
  }

  .zigzag {
    margin: 10% 0;
  }

  .light-zigzag {
    margin: 10% 0 0;
  }
}

/* END */

/* 小デバイス（横向きモバイル, 768px 未満）
============================================== */
@media screen and (max-width: 767.98px) {

  /* ロゴマークを小さく設定 */
  .logo-mark {
    height: 140px;
    width: 140px;
  }

  .logo-mark img {
    width: 50%;
  }

  .lead {
    font-size: 1rem;
  }

  .coworking-top .top-text {
    top: 10%;
  }

  .coworking-top {
    height: 650px;
  }
  
  .circle-badges {
    top: -10px;
    width: 100px;
    height: 100px;
  }
}

/* END */

/* 極小デバイス（縦向きモバイル, 576px 未満）
	============================================== */
@media screen and (max-width: 575.98px) {

  .display-3,
  .display-4 {
    font-size: 2rem;
  }

  h1.display-4 {
    font-size: 3rem;
  }

  .coworking-top .top-text {
    top: 5%;
  }

  .logo-mark {
    left: 5%;
    top: -10px;
  }

  .logo-mark img {
    top: 25%;
    left: 25%;
  }

  .zigzag,
  .light-zigzag {
    margin: 15% 0;
  }

  .stitch img {
    width: 100%;
  }
}

/* END */
